In [2]:
#improting pandas
import pandas as pd

In [3]:
#path to json file
file = "purchase_data.json"

#read dataframe into pandas
game_df = pd.read_json(file)
game_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [30]:
#looking at all column headers in the dataset
game_df.columns

Index(['Age', 'Gender', 'Item ID', 'Item Name', 'Price', 'SN'], dtype='object')

In [95]:
#number of unique items
unique =game_df ["Item Name"].nunique()
pd.DataFrame([unique], columns=['Total Players'])
unique

179

In [6]:
#player count
len(game_df.index)

780

In [7]:
#Purching Analysis (Total)

#average purchase price
Avg_Price = round(game_df["Price"].mean(),2)
Avg_Price

2.93

In [8]:
#total number of purchases

In [11]:
#total Revenue 
tot_rev=round(game_df["Price"].sum(),2)
tot_rev

2286.33

In [14]:
#Gender Demogarhpics 
game_df["Gender"].value_counts()

Male                     633
Female                   136
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [24]:
#purchase analysis by Gender 
grouped_gender_df = game_df.groupby(["Gender"])
grouped_gender_df.count().head(10)

#average purchase price 
Avg_Price_MF = round(grouped_gender_df["Price"].mean(),2)
Avg_Price_MF

#purchase count
purch_count_mf = grouped_gender_df["Price"].count()
purch_count_mf

#total purchase value 
tot_purch_mf= grouped_gender_df["Price"].sum()
tot_purch_mf

#normalized Totals 

#putting all the data together in one table

Gender
Female                    382.91
Male                     1867.68
Other / Non-Disclosed      35.74
Name: Price, dtype: float64

In [57]:
#AGE DEMOGRAPHICS each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#min age= 7 and max age =45
# Bins are 0 to 10, 10 to 14, 15 to 19, 75 to 100
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]
group_names =["<10", "10-15", "16-20", "21-25", "26-30", "31-35", "36-40", "41-45"]

pd.cut(game_df["Age"],bins, labels=group_names)

#adding age group varaible to dataset 
game_df["Age Group"]=pd.cut(game_df["Age"],bins, labels=group_names)

#creating a groups based off age bins
age_groups_df = game_df.groupby("Age Group")
age_groups_df.max()

#average purchase price 
Avg_Price_age = round(age_groups_df["Price"].mean(),2)
Avg_Price_age

#purchase count
purch_count_age = age_groups_df["Price"].count()
purch_count_age

#total purchase value 
tot_purch_age= age_groups_df["Price"].sum()
tot_purch_age

#normalized Totals 

#putting all the data together in one table

Age Group
<10       96.62
10-15    224.15
16-20    528.74
21-25    902.61
26-30    219.82
31-35    178.26
36-40    127.49
41-45      8.64
Name: Price, dtype: float64

In [68]:
#Top Spenders
price_sort_df=game_df.sort_values(["Price"],ascending=[False]).head(5)

#purcahse count
purch_count_top = price_sort_df["Price"].count()
purch_count_top


#average purchase price 
Avg_Price_age = round(price_sort_df["Price"].mean(),2)
Avg_Price_top


#total purchase revenue
#total purchase value 
tot_purch_top= price_sort_df["Price"].sum()
tot_purch_top

#creating table to hold all the information

['purch_count_top', 'Avg_Price_top', 'tot_purch_top']

In [86]:
#Most Popular Items
most_pop =game_df["Item Name"].value_counts().head(5)  
most_pop

Final Critic                            14
Arcane Gem                              11
Betrayal, Whisper of Grieving Widows    11
Stormcaller                             10
Woeful Adamantite Claymore               9
Name: Item Name, dtype: int64